<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.ww.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <display-name>servlet-learn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306</param-value>
  </context-param>
  <servlet>
    <servlet-name>wildcard</servlet-name>
    <servlet-class>com.ww.servlet.WildcardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wildcard</servlet-name>
    <url-pattern>/wildcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wildcardDo</servlet-name>
    <servlet-class>com.ww.servlet.WildcardDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wildcardDo</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>context2</servlet-name>
    <servlet-class>com.ww.servlet.context.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>context2</servlet-name>
    <url-pattern>/context2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>context1</servlet-name>
    <servlet-class>com.ww.servlet.context.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>context1</servlet-name>
    <url-pattern>/context1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ctxParam</servlet-name>
    <servlet-class>com.ww.servlet.context.ContextParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctxParam</servlet-name>
    <url-pattern>/ctxParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ctxRes</servlet-name>
    <servlet-class>com.ww.servlet.context.ContextResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctxRes</servlet-name>
    <url-pattern>/ctxRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>disp</servlet-name>
    <servlet-class>com.ww.servlet.context.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disp</servlet-name>
    <url-pattern>/disp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>disp2</servlet-name>
    <servlet-class>com.ww.servlet.context.DispatcherServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disp2</servlet-name>
    <url-pattern>/disp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>当前类的类加载器加载资源文件</description>
    <display-name>ClsLoadResourceServlet</display-name>
    <servlet-name>ClsLoadResourceServlet</servlet-name>
    <servlet-class>com.ww.servlet.context.ClsLoadResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClsLoadResourceServlet</servlet-name>
    <url-pattern>/clsLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>output</display-name>
    <servlet-name>output</servlet-name>
    <servlet-class>com.ww.servlet.response.OutputStreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>output</servlet-name>
    <url-pattern>/output</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>使用PrintWriter向客户端输出中文</description>
    <display-name>printWriterServlet</display-name>
    <servlet-name>printWriterServlet</servlet-name>
    <servlet-class>com.ww.servlet.response.PrintWriterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>printWriterServlet</servlet-name>
    <url-pattern>/printWriterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Response实现文件下载</description>
    <display-name>download</display-name>
    <servlet-name>download</servlet-name>
    <servlet-class>com.ww.servlet.response.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>下载中文文件名文件</description>
    <display-name>downloadChineseServlet</display-name>
    <servlet-name>downloadChineseServlet</servlet-name>
    <servlet-class>com.ww.servlet.response.DownloadChineseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadChineseServlet</servlet-name>
    <url-pattern>/downloadChineseServlet</url-pattern>
  </servlet-mapping>
</web-app>