<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.ww.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <display-name>servlet-learn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306</param-value>
  </context-param>
  <servlet>
    <servlet-name>UploadHandlerServlet</servlet-name>
    <servlet-class>com.ww.servlet.upload.UploadHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandlerServlet</servlet-name>
    <url-pattern>/uploadHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFileServlet</display-name>
    <servlet-name>ListFileServlet</servlet-name>
    <servlet-class>com.ww.servlet.download.ListFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFileServlet</servlet-name>
    <url-pattern>/listFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.ww.servlet.download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestHeaderServlet</display-name>
    <servlet-name>requestHeaderServlet</servlet-name>
    <servlet-class>com.ww.servlet.request.RequestHeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestHeaderServlet</servlet-name>
    <url-pattern>/requestHeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>post请求中文乱码</description>
    <display-name>postChinese</display-name>
    <servlet-name>postChinese</servlet-name>
    <servlet-class>com.ww.servlet.request.PostChineseMessyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postChinese</servlet-name>
    <url-pattern>/postChinese</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>GET方式提交表单中文参数乱码</description>
    <display-name>getChineseMsgServlet</display-name>
    <servlet-name>getChineseMsgServlet</servlet-name>
    <servlet-class>com.ww.servlet.request.GetChineseMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getChineseMsgServlet</servlet-name>
    <url-pattern>/getChineseMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Request实现请求转发</description>
    <display-name>reqDispatcherServlet</display-name>
    <servlet-name>reqDispatcherServlet</servlet-name>
    <servlet-class>com.ww.servlet.request.ReqDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reqDispatcherServlet</servlet-name>
    <url-pattern>/reqDispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet</display-name>
    <servlet-name>cookieServlet</servlet-name>
    <servlet-class>com.ww.servlet.cookie.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet</servlet-name>
    <url-pattern>/cookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet</display-name>
    <servlet-name>sessionServlet</servlet-name>
    <servlet-class>com.ww.servlet.session.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet</servlet-name>
    <url-pattern>/sessionServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>filter01</display-name>
    <filter-name>filter01</filter-name>
    <filter-class>com.ww.servlet.filter.Filter01</filter-class>
    <init-param>
      <description>城市</description>
      <param-name>city</param-name>
      <param-value>Tokyo</param-value>
    </init-param>
    <init-param>
      <description>国家</description>
      <param-name>country</param-name>
      <param-value>中国</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>filter01</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>characterEncodingFilter</display-name>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>com.ww.servlet.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>HtmlFilter</display-name>
    <filter-name>HtmlFilter</filter-name>
    <filter-class>com.ww.servlet.filter.HtmlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HtmlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>htmlFilterServlet</display-name>
    <servlet-name>htmlFilterServlet</servlet-name>
    <servlet-class>com.ww.servlet.filter.HtmlFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>htmlFilterServlet</servlet-name>
    <url-pattern>/htmlFilterServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ImpressibleFilter</display-name>
    <filter-name>ImpressibleFilter</filter-name>
    <filter-class>com.ww.servlet.filter.ImpressibleFilter</filter-class>
    <init-param>
      <param-name>impressibleWordPath</param-name>
      <param-value>/WEB-INF/impressibleWord.txt</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ImpressibleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>GzipFilter</display-name>
    <filter-name>GzipFilter</filter-name>
    <filter-class>com.ww.servlet.filter.GzipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>com.ww.servlet.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ww.servlet.listener.MyHttpSessionListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.ww.servlet.listener.MyHttpRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ww.servlet.listener.MyServletContextAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ww.servlet.listener.MyRequestAndSessionAttrListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ww.servlet.listener.MyHttpSessionBindingListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ww.servlet.listener.MyHttpSessionActivationListener</listener-class>
  </listener>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ww.servlet.filter.commons.function.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>NoCacheFilter</display-name>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.ww.servlet.filter.commons.function.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CacheStaticFilter</display-name>
    <filter-name>CacheStaticFilter</filter-name>
    <filter-class>com.ww.servlet.filter.commons.function.CacheStaticFilter</filter-class>
    <init-param>
      <param-name>css</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>jpg</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>js</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>png</param-name>
      <param-value>4</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CacheStaticFilter</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheStaticFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheStaticFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheStaticFilter</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <servlet>
    <description>登录</description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.ww.servlet.filter.commons.function.autologin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.ww.servlet.filter.commons.function.autologin.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>注销登录</description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.ww.servlet.filter.commons.function.autologin.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ww.servlet.listener.function.OnlineCounterListener</listener-class>
  </listener>
</web-app>